@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: 'Hiraya Baybayin';
  src: url('./assets/fonts/Hiraya_Baybayin.ttf');
}

@font-face {
  font-family: 'Good Timing';
  src: url('./assets/fonts/good_timing_bd.otf');
}

@font-face {
  font-family: 'Neuropol';
  src: url('./assets/fonts/neuropol_x.otf');
}

/* Styles */

* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-thumb {
  background: #ffffff66;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.bg-grid {
  background-size: 50px 50px;
  background-image: 
    linear-gradient(to right, #ffffff11 1px, transparent 1px),
    linear-gradient(to bottom, #ffffff11 1px, transparent 1px),
    radial-gradient(circle, #ffffff33 1px, rgba(0, 0, 0, 0) 1px);
}

.hexagon-xl {
  clip-path: polygon(0 0, 95% 0, 100% 10%, 100% 100%, 5% 100%, 0 90%);
}

.hexagon-btn {
  clip-path: polygon(0 0, 95% 0, 100% 20%, 100% 100%, 5% 100%, 0 80%);
}

